
.shopping-cart-area h4{
    text-align: center;
}
.shopping-cart-area p{
    padding: 10px 0px;
}
.shopping-cart-area button{
    margin-top: 10px;
    width: 100%;
}
.clearcart{
    background-color: coral;
    transition: .5s ease;
    width: 100%;
    margin: 10px 0px;
}
.clearcart:hover{
    background-color: rgb(245, 103, 51) ;
}
.review-order{
        display: block;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: rgb(9, 156, 70);
        cursor: pointer;
        text-align: center;
        color: #fff;
        margin-top: 5px;
}
.review-order{
    background-color: rgb(9, 156, 70);
    transition: .5s ease;
}
.review-order:hover{
    background-color: rgb(10, 186, 83);
}